{% extends 'base.html' %}

{% block content %}
    <h2><div class="mtitle"> {% block title %} {{ movie["title"] }} {% endblock %}</div></h2>
    <img src="{{ movie['image'] }}"/>
    <p>
    <div class="myear"> Year:</div> <span class="badge badge-primary">{{ movie['year'] }}</span>
    </p>
    <p>
    <div class="mgenres"> Genres:</div><span class="badge badge-primary">{{ movie['genres'] }}</span>
    </p>
    <p>
    <div class="mdescription"> Description:</div> <p>{{ movie['description'] }}</p>
    </p>
    <h2>Reviews</h2>

{% endblock %}
